.setting-item {
}

.setting-item-info {
}

.setting-item-control {
}


.theme-light {
    --hyper-highlight: #FFF2AC;
    --error-color: #DB5461;
    --success-color: #8AAA79
}

.theme-dark {
    --hyper-highlight: #1C5998;
    --error-color: #DB5461;
    --success-color: #8AAA79
}

.rw-info {
    margin-right: 10px;
}

.rw-error {
    color: var(--error-color);
}
.rw-success {
    color: var(--success-color);
}


img[alt=rw-book-cover] {
    max-height: 200px;
}

.rw-hyper-highlight {
    background-color: var(--hyper-highlight);
}

