
.theme-light {
    --hyper-highlight: var(--text-highlight-bg, #FFF2AC);
    --error-color: #DB5461;
    --success-color: #8AAA79;
    --info-color: var(--text-muted, #000);
}

.theme-dark {
    --hyper-highlight: var(--text-highlight-bg, #1C5998);
    --error-color: #DB5461;
    --success-color: #8AAA79;
    --info-color: var(--text-muted, #fff);
}

.rw-info-container {
    margin-inline-end: 10px;
}

.rw-info {
    color: var(--info-color);
    font-size: smaller;
}

.rw-error {
    color: var(--error-color);
}
.rw-success {
    color: var(--success-color);
}


img[alt=rw-book-cover] {
    max-height: 200px;
}

.rw-hyper-highlight {
    background-color: var(--hyper-highlight);
}

.rw-modal-btns {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
}

.rw-modal-confirmation {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    justify-content: flex-end;
    margin-block-start: 1em;
    font-size: smaller;
}

.rw-modal-warning-text {
    margin-block-start: 0;
}
